<div class='card'>
    <div class='card-header'>
        <h1>Edit - Employee Details</h1>
    </div>
</div>

<div class='card'>
    <div class='card-header'>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> The Employee details have been updated successfully.
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <form [formGroup]="editEmployeeDetails" (ngSubmit)="collection()">
        <div class='card-body'>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label>Title</label>
                    <select class="custom-select" formControlName="title">
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Mrs.">Mrs.</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="first_name" placeholder="First Name">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="last_name" placeholder="Last Name">
                </div>
                <div class="col-md-3 mb-3">
                    <label>DOB</label>
                    <input type="date" class="form-control" formControlName="dob" placeholder="DOB">
                </div>
                
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Primary Address</label>
                    <input type="text" class="form-control" formControlName="primary_addr" placeholder="Primary Address">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Secondary Address</label>
                    <input type="text" class="form-control" formControlName="secondary_addr" placeholder="Secondary Address">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Designation</label>
                    <select class="custom-select" formControlName="designation">
                        <option value="Software Trainee">Software Trainee</option>
                        <option value="Software Engineer">Software Engineer</option>
                        <option value="Senior Software Engineer">Senior Software Engineer</option>
                        <option value="Team Lead">Team Lead</option>
                        <option value="Project Lead">Project Lead</option>
                        <option value="Asst Project Manager">Asst Project Manager</option>
                        <option value="Project Manager">Project Manager</option>
                        <option value="Snr Project Manager">Snr Project Manager</option>
                    </select>
                </div>
            </div>
        </div>
        <div class='card-footer'>
            <button class="butn" type="submit">Update</button>
        </div>
    </form>
</div>