<div class='card'>
    <div class='card-header'>
        <h1>List -  Employee Details</h1>
    </div>
</div>

<div class='card'>
    <div class='card-body'>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.dob | date }}</td>
                    <td>{{ item.designation }}</td>
                    <th><a routerLink="/update/{{item.id}}" class="btn btn-success btn-sm"><i class="fa fa-pencil" style="font-size:20px;"></i></a></th>
                    <th><i (click)="deleteEmployeeDetails(item.id)" class="fa fa-trash btn-danger btn-sm" style="font-size:20px;"></i>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>